/* Red screen flashing effect */
@keyframes redFlash {
  0%   { background: rgba(255, 0, 0, 0); }
  14%  { background: rgba(255, 0, 0, 0.67); }
  28%  { background: rgba(255, 0, 0, 0.1); }
  44%  { background: rgba(255, 0, 0, 0.67); }
  58%  { background: rgba(255, 0, 0, 0.1); }
  74%  { background: rgba(255, 0, 0, 0.67); }
  88%  { background: rgba(255, 0, 0, 0.1); }
  100% { background: rgba(255, 0, 0, 0); }
}

.animate-redFlash {
  animation: redFlash 3.0s ease-in-out;
}
